
fieldset {
    border: none;
  }

/* ヘッダーのテキスト */

.jumbotron{
    color:black;
    background-color: #f0f8ff;
    font-family: "Shippori Mincho B1", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    text-align: center;
    margin: 0 20px; /* h1と画像の間に少し余白を持たせる */
    margin-top: 30px;
}

.navbar-header{
    color:black;
    background-color: #f0f8ff;
    font-family: "Shippori Mincho B1", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    text-align: center;
    margin: 0 20px; /* h1と画像の間に少し余白を持たせる */
}

/* フォームのテキスト */

.form{
    color:black;
    background-color: #f0f8ff;
    font-family: "Shippori Mincho B1", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    text-align: center;
    margin: 0 20px; /* h1と画像の間に少し余白を持たせる */
}

textarea{
  color:black;
  background-color: #f0f8ff;
  font-family: "Shippori Mincho B1", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  text-align: center;
  margin: 0 20px; /* h1と画像の間に少し余白を持たせる */
}

.glass-button {
    background: rgba(255, 255, 255, 0.2);
    color: #333;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 12px;
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.1),
                -8px -8px 15px rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    transition: transform 0.2s ease;
  }
  
  .glass-button:hover {
    transform: translateY(-2px);
  }




